:root {
  --white: #fff;
  --black: #000;
  --grey: #757575;
  --icon_grey: #afb1b8;
  --blue: #2196f3;
  --dark_bg: #2f303a;
  --dark_text: #212121;
  --button_grey: #f5f4fa;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.body {
  color: var(--grey);
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  box-sizing: border-box;
}

/* header */

.logo {
  color: var(--black);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  /* margin-bottom: 25px; */
}

.blue_logo {
  color: var(--blue);
}

.header {
  display: flex;
}

.header_border {
  border-bottom: 1px solid #ececec;
}

.header_container {
  padding-top: 25px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.header_item:not(:last-child) {
  margin-right: 50px;
}

.header_contacts {
  margin-left: auto;
  /* margin-bottom: 32px; */
}

.contacts_center {
  display: flex;
  align-items: center;
}

.header_mail {
  margin-right: 50px;
}

.header_mail_icon {
  display: inline-block;
  content: "";
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.header_tel_icon {
  display: inline-block;
  content: "";
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.site_nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  display: flex;
}

.link {
  display: inline-block;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site_nav .link {
  color: var(--dark_text);
  text-decoration: none;
}

.header_contacts .link {
  color: var(--grey);
}

.site_nav .link:hover,
.site_nav .link:focus {
  color: var(--blue);
}

.site_nav .link.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue);
}

.link.current::after {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  top: 28px;
  background-color: #2196f3;
  border-radius: 2px;
}

.hero_header {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.header2 {
  color: var(--dark_text);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* hero section */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark_bg);
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  color: var(--white);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero_container {
  margin: 0 auto;
  max-width: 696px;
}

.button {
  padding: 10px 32px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0;
}

/* features section*/

.features {
  padding-top: 94px;
  min-width: 1170px;
  text-align: left;
  margin: 0 auto;
}

.features_header {
  margin-bottom: 10px;
}

.feautures_list {
  display: flex;
  margin-left: -30px;
}

.feauture_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button_grey);
}

.feauture_icon {
  width: 70px;
  height: 70px;
}

.feautures_item {
  flex-basis: calc(100% / 4 * 30px);
  margin-left: 30px;
}

.header3 {
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features_desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
}

/* services */

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services_list {
  display: flex;
}

.services_item {
  position: relative;
}

.services_item:not(:last-child) {
  margin-right: 30px;
}

.service_block {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  position: absolute;
  bottom: 0px;
}

.service_block .header3 {
  color: var(--white);
}

/* team section */

.team {
  color: var(--grey);
  background-color: #f5f4fa;
  font-size: 16px;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .team_section {
} */

.team_list {
  display: flex;
  margin-right: -30px;
}

.team_list_item {
  width: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team_list_item:not(:last-child) {
  margin-right: 30px;
}

.team_header {
  color: var(--dark_text);
  text-transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team_position {
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team .header3 {
  color: var(--dark_text);
  text-transform: none;
  font-size: 16px;
}

.team_text {
  padding: 30px;
  background: var(--white);
}

.social_list {
  display: flex;
  justify-content: center;
}

.social_item {
  width: 44px;
  height: 44px;
}

.social_item + .social_item {
  margin-left: 10px;
}

.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_link:hover,
.social_link:focus {
  background: var(--blue);
}

.social_link:hover .social_icon,
.social_link:focus .social_icon {
  fill: var(--white);
}

.social_icon {
  fill: var(--icon_grey);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* clients section */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client_button {
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: var(--icon_grey);
  background-color: var(--white);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client_button:hover,
.client_button:focus {
  fill: var(--blue);
  border: 1px solid var(--blue);
}

.clients_list {
  display: flex;
}

.clients_item:not(:last-child) {
  padding-right: 30px;
}

/* footer section */

.site_footer {
  background-color: var(--dark_bg);
  color: var(--white);
  padding-top: 60px;
  padding-bottom: 60px;
}

.site_footer .container {
  display: flex;
}

.social_footer .header3 {
  display: block;
  padding-top: 17px;
  color: var(--white);
  margin-bottom: 20px;
}

.footer_contacts {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.social_footer {
  width: 206px;
  margin-right: 93px;
}

.social_footer .social_link {
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_footer .social_icon {
  fill: var(--white);
}

.social_footer .social_link:hover,
.social_footer .social_link:focus {
  background: var(--blue);
}

.footer_contacts_item {
  margin-bottom: 9px;
}

.site_footer .logo {
  color: var(--white);
}

.site_footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.subscribe_mail {
  display: flex;
  justify-content: center;
}

.subscribe .header3 {
  display: block;
  padding-top: 17px;
  color: var(--white);
  margin-bottom: 20px;
}

.subscribe_input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: var(--dark_bg);
  padding: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe_button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 29px;
  font-family: Roboto;
}

.subscribe_mail_icon {
  content: "";
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

/* portfolio page */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.port_buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.port_buttons_item:not(:last-child) {
  margin-right: 8px;
}

.port_button {
  color: var(--dark_text);
  background-color: var(--button_grey);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port_button.current {
  color: var(--white);
  background-color: var(--blue);
}

.port_button:hover,
.port_button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.gal_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gal_list_item {
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gal_list_link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gal_list_link:hover,
.gal_list_link:focus {
  transform: translatex(0);
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gal_list_text {
  padding: 20px 24px;
}

.gal_header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--dark_text);
}

.gal_sub_header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.gal_image {
  position: relative;
  overflow: hidden;
}

.gal_list_link:hover .gal_overlay,
.gal_list_link:focus .gal_overlay {
  transform: translatey(0);
}

.gal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.gal_overlay > p {
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  position: relative;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 300ms ease;
}

.modal_close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover {
  fill: var(--blue);
}

.modal_close_icon {
  content: "";
  width: 11px;
  height: 11px;
}

.order_form {
  padding-top: 12px;
}

.order_form_header {
  color: var(--dark_text);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form_input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  padding-right: 20px;
}

.order_input_text {
  margin-bottom: 4px;
  color: var(--grey);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input_wrapper {
  display: block;
  position: relative;
}

.input_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
  margin-bottom: 30px;
}

.custom_checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid var(--black);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
}

.checkbox_icon {
  fill: none;
}

.order_checkbox:checked + .custom_checkbox {
  background-color: var(--white);
  border: none;
  fill: var(--dark_bg);
  /* stroke: var(--white); */
  background-color: var(--blue);
}

.form_input:focus,
.order_comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form_input:focus + .input_icon {
  fill: var(--blue);
}

.agreement_link {
  text-decoration-line: underline;
  color: #2196f3;
}

.order_form .button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_form .button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
